extends ../layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/training.css")


block content

  - const anyRepeats = trainingDays.some((day) => day.trainingType === 'repeat')
  - const anySpecial = trainingDays.some((day) => day.trainingType === 'special')

  .inner
    if(user)
      a.adminButton(href="/training/new") New Training Item

    if(anyRepeats)
      .repeatTraining.training
        h4 Repeat Trainings/Meetings
        for day in trainingDays
          if (day.trainingType === 'repeat')
            .card(id= day._id)

              if user
                .adminControls
                  button(type="button").edit edit
                  button(type="button").delete delete

              .cardInfo
                .cardTitle
                  h3.title= day.title
                  p.location= day.location
                  p.date= day.whenMessage
                  .arrowButton
                    .arrow
                  .accentLine.hidden
                .dropDown.hidden
                  pre.info= day.info

    if(anySpecial)
      .training
        h4 Special Trainings/Meetings
        for day in trainingDays
          if (day.trainingType === 'special')
            .card(id= day._id)

              if user
                .adminControls
                  button(type="button").edit edit
                  button(type="button").delete delete

              .cardInfo
                .cardTitle
                  h3.title= day.title
                  p.location= day.location
                  p.date= day.dateTimeRange
                  .arrowButton
                    .arrow
                  .accentLine.hidden
                .dropDown.hidden
                  pre.info= day.info


block scripts
  script(src="/javascript/training.js")
  if user
    script(src="/javascript/adminTraining.js")
