extends ../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/gunDrawing.css")

block adminButton
  if(user)
    a.adminButton(href="gun-drawing/add") Add Winner

block content
  .inner
    p The Groton Fire Department would like to thank all who purchased the gun calendars.
    p Proceeds from our sales goes back into the community to help kids, organizations and help wherever needed.
    p Each Monday we will announce the winner of the gun on this website.
    br
    p Please note: You have one year from your win date to pick up your gun
    br
    br

    h2 Winners

    div.years
      each year, index in allYears
        if index === 0
          p.year.current
            = year
        else
          p.year
            = year

    for winner in winners
      if winner.date.getFullYear().toString() === currentYear
        .card.current-year(id=winner._id)
          if user
            .adminControls
              button(type="button").edit edit
              button(type="button").delete delete
          h3.name= winner.fullName
          h5.location= winner.location
          p.gun= winner.gun
          p.date= winner.date.toDateString()
          .shortLine
          p(data-year= winner.date.getFullYear() hidden).winner-year
      else
        .card.hidden(id=winner._id)
          if user
            .adminControls
              button(type="button").edit edit
              button(type="button").delete delete
          h3.name= winner.fullName
          h5.location= winner.location
          p.gun= winner.gun
          p.date= winner.date.toDateString()
          .shortLine
          p(data-year= winner.date.getFullYear() hidden).winner-year

block scripts
  script(src="/javascript/gunDrawing.js")
  if user
    script(src="/javascript/adminGunDrawing.js")
